{% load tags %}
<ul class="nav">
    <li class="nav-item  active ">
      <a class="nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        <p>Dashboard</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'records' %}">
        <p>Records</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'appointments' %}">
        <p>Appointments</p>
      </a>
    </li>
    {% if user|has_attr:'patient' %} 
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'newappointment' %}">
        <p>New Appointment</p>
      </a>
    </li>
    {% endif %}
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'myresults' %}">
        <p>Results</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'doctorlist' %}">
        <p>Doctors</p>
      </a>
    </li>
    {% if user|has_attr:'doctor' %} 
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'mypatientlist' %}">
        <p>My Patients</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'upload' %}">
        <p>Upload Result</p>
      </a>
    </li>
    {% endif %}
              
  </ul>