{% extends 'newbase.html' %}
{% load widget_tweaks %}
{% load tags %}
{% block stylesheet %}
<style>
    #modalbutton{
      color: white;
      background-color: blue;
    }
    .modal-lg {
        max-width: 55% !important;
    }
</style>
{% endblock %}
{% block breadcrumb %}
Results
{% endblock %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for r in results %}
        {% if r.patient == user.patient or r.uploaded_by == user.doctor%}
        <tr>
            <td>{{ r.patient.first_name }} {{ r.patient.last_name }}</td>
            <td>{{ r.date }}</td>
            {% if user|has_attr:'doctor' %} 
            <td><a href="{% url 'editresult' r.pk %}" class="btn btn-success" role="button">Edit</button><br></td>
            {% endif %}
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="modalbutton" data-get-url="{% url 'getresult' r.pk %}">Show</button><br></td>
            <td><a href="{% url 'download' r.pk %}" class="btn btn-secondary btn-sm" role="button" download="download.dcm">Download</a><br></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<!-- <input type="text" id="aaa" class="ccc"><br>
<input type="text" id="bbb" class="cccc"><br>
<span id="id">0</span> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-body">
        <img src="" width="1000px", height="100%">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script>
    i=0;
    $(".ccc").on("keypress",function(){
        $("#id").text(i+=1);
    });
</script>
<script>
  $(".btn-primary").on("click", function (event) {
        event.preventDefault();
        $.get({
            url: $(this).data("get-url"),
            success: function (data) {
                var parsed_data = JSON.parse(data)
                $(".modal-body").html("<img src="+parsed_data.url+" width='1000px', height='100%''>")
                $("#exampleModal").modal("show")
            }
        });
    });
</script>
{% endblock %}