{% extends 'newbase.html' %}
{% load tags %}

{% block breadcrumb %}
{% if user|has_attr:'doctor' %} 
<li class="breadcrumb-item">Logged in as Doctor</li>
{% else %}
<li class="breadcrumb-item">Logged in as Patient</li>
{% endif %}
{% endblock %}
{% block stylesheet %}
<style>
#map {
  height: 400px;
  width: 100%;
}
</style>
<script>
    function initMap() {
      const home = { lat: 39.981378, lng: 32.792353 };
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 17,
        center: home,
      });
      const marker = new google.maps.Marker({
        position: home,
        map: map,
      });
    }
  </script>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Appointments</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Patient</th>
                        <th>Date</th>
                        <th>Doctor</th>
                        <th>Active?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in appointments %}
                    <tr>
                        <td>{{ a.patient }}</td>
                        <td>{{ a.date }}</td>
                        <td>{{ a.doctor.get_name }}</td>
                        <td>{{ a.is_active }}</td>
                    </tr> 
                    {% endfor %}
                          
                </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <div id="map"></div>
            <script
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC80r8PBUjpwm1QDSlLSYv9NRmOQtt4M70&callback=initMap&libraries=&v=weekly"
                  async
                ></script>
          </div>
      </div>
    </div>
</div>



{% endblock %}
