{% extends 'newbase.html' %}
{% load tags %}

{% block breadcrumb %}
{% if user|has_attr:'doctor' %} 
<li class="breadcrumb-item">Logged in as Doctor</li>
{% else %}
<li class="breadcrumb-item">Logged in as Patient</li>
{% endif %}
{% endblock %}
{% block stylesheet %}
<style>
#map {
  height: 400px;
  width: 100%;
}
</style>
<script>
    function initMap() {
      const home = { lat: 39.981378, lng: 32.792353 };
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 17,
        center: home,
      });
      const marker = new google.maps.Marker({
        position: home,
        map: map,
      });
    }
  </script>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"><a href="{% url 'appointments' %}">Appointments</a></h4>
        </div>
        <div class="card-body">
            {% if length == 0 %}
            <h8>You have no active appointments. 
              {% if user|has_attr:'patient' %}
              <a href="{% url 'newappointment' %}">Make appointment</a></h8>
              {% endif %}
            {% else %}
            <table class="table">
                <thead>
                    <tr>        
                        {% if user|has_attr:'patient' %}
                        <th>Doctor Name</th>
                        {% else %}
                        <th>Patient Name</th>
                        {% endif %}
                        <th>Date</th>
                        <th>Session</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in appointments %}
                    <tr>       
                        {% if user|has_attr:'patient' %}
                        <td>{{ a.doctor.get_name }}</td>
                        {% else %}
                        <td>{{ a.patient.get_name }}</td>
                        {% endif %}
                        <td>{{ a.date }}</td>
                        <td>{{ a.session }}</td>
                    </tr> 
                    {% endfor %}
                          
                </tbody>
            </table>
            {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <div id="map"></div>
            <script
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC80r8PBUjpwm1QDSlLSYv9NRmOQtt4M70&callback=initMap&libraries=&v=weekly"
                  async
                ></script>
          </div>
      </div>
    </div>
</div>



{% endblock %}
